[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "erccdashboard"]
	path = erccdashboard
	url = https://github.com/munrosa/erccdashboard
